<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Premium</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressCreatorServlet</servlet-name>
    <servlet-class>servlet.AddressCreatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressCreatorServlet</servlet-name>
    <url-pattern>/AddressCreatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressDeleterServlet</servlet-name>
    <servlet-class>servlet.AddressDeleterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressDeleterServlet</servlet-name>
    <url-pattern>/AddressDeleterServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
   <servlet>
    <servlet-name>AddressEditorServlet</servlet-name>
    <servlet-class>servlet.AddressEditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressEditorServlet</servlet-name>
    <url-pattern>/AddressEditorServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPanelServlet</servlet-name>
    <servlet-class>servlet.AdminPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/AdminPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>filter.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registration.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminPanelFilter</filter-name>
    <filter-class>filter.AdminPanelFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminPanelFilter</filter-name>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/panel.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ProfileFilter</filter-name>
    <filter-class>filter.ProfileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfileFilter</filter-name>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PremiumPageFilter</filter-name>
    <filter-class>filter.PremiumPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PremiumPageFilter</filter-name>
    <url-pattern>/premium.jsp</url-pattern>
  </filter-mapping>
</web-app>